#about {
  text-align: center;
  padding-top: 220px;
  padding-bottom: 240px;
  overflow: hidden;
}

#about-mainPageButton {
  position: absolute;
  top: 25px;
  left: -50px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);

  width: 200px;
  color: var(--grayLighten90);
  font-size: 14px;
  font-weight: normal;
  line-height: 50px;
  text-align: center;
  background: var(--primaryLighten15);

  border-top: 2px ridge var(--primaryLighten15);
  border-bottom: 2px ridge var(--primaryLighten15);
  box-shadow: 2px 2px 10px var(--primaryDarken15);

  z-index: 10;

  &:hover {
    color: var(--orange);
    border-color: var(--primaryDarken30);
  }
}

.about-header-logo {
  max-width: 100%;
  margin-bottom: 75px;
  mask-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="8.5"></feGaussianBlur></filter><g class="blur"><rect x="10" y="10" width="80" height="80"/></g></svg>'); 
  mask-size: cover; 
  transform: scale(1.6);
}

.about-description {
  font-size: 20px;
}

.skipToCalendar {
  color: var(--white);
  font-size: 14px;
  display: block;
  width: 200px;

  margin: 20px auto 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 1px solid var(--white);
  border-radius: 5px;

  &:hover {
    border-color: var(--orange);
    color: var(--orange);
  }
}

@media screen and (max-width: 425px) {
  #about {
    padding-top: 135px;
    padding-bottom: 170px;
  }

  #header {
    padding-top: 130px;
  }

  .about-description {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  #about {
    padding-top: 100px;
    padding-bottom: 140px;
  }
}
