#header {
  text-align: center;
  padding-top: 220px;
  padding-bottom: 240px;
}

.header-logo {
  width: 200px;
  margin-bottom: 45px;
}

.about-description {
  font-size: 20px;
}

#about-mainPageButton {
  width: 200px;
  color: #efefef;
  font-size: 14px;
  font-weight: normal;
  line-height: 50px;
  text-align: center;
  background: lighten($dark-blue, 3%);

  border-top: 2px ridge lighten($dark-blue, 15%);
  border-bottom: 2px ridge lighten($dark-blue, 15%);
  box-shadow: 2px 2px 10px darken($dark-blue, 5%);

  position: absolute;
  top: 25px;
  right: auto;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  &:hover {
    color: $orange;
    border-top: 2px ridge lighten($dark-blue, 20%);
    border-bottom: 2px ridge lighten($dark-blue, 20%);
  }
}

@media screen and (max-width: 376px) {
  #header {
    padding-top: 130px;
  }

  .about-description {
    font-size: 14px;
  }
}
