#header {
  text-align: center;
  padding-top: 220px;
  padding-bottom: 240px;
}

.header-logo {
  width: 200px;
  margin-bottom: 45px;
}

.about-description {
  font-size: 20px;
}

.about-mainPageButton {
  border: none;
  padding: 15px 15px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
  outline : none;

  &:hover {
    color: rgba(250, 160, 0, 1.0);
    border-color: rgba(250, 160, 0, 1.0);
    cursor: pointer;
  }
}

@media screen and (max-width: 425px) {
  #header {
    padding-top: 130px;
  }

  .about-description {
    font-size: 14px;
  }
}
