#calendar {
  position: relative;
}

#calendar h1 a {
  font-size: 16px;
  margin-left: 10px;
}

.cal-day {
  position: relative;
}

.cal-day--string {
  position: absolute;
  top: 0;

  background-color: $dark-blue;
  color: $orange;
  padding-bottom: 5px;
}

.cal-section--preDays .cal-event-header {
  opacity: .5;
}

.cal-button--preDays {
  color: #fff;
  background-color: $dark-blue;

  border: 1px solid #fff;
  border-radius: 5px;

  cursor: pointer;
  font-size: 14px;
  position: relative;
  width: 100%;

  padding: 12px;
  margin-bottom: 25px;

  &:hover {
    border-color: $orange;
    color: $orange;
  }
}

.cal-event {
  margin-left: 160px;
  position: relative;
  display: block;
  color: #fff;

  &:hover {
    color: #fff;
    
    .cal-event-indicator {
      background-color: $orange;
    }
  }
}

.cal-event-header {
  display: flex;
}

.cal-event-date {
  width: 130px;
}

.cal-event-indicator {
  position: absolute;
  top: 10px;
  left: 79px;
  background-color: #fff;
  border-radius: 50%;

  width: 13px;
  height: 13px;
}

.cal-event-content {
  display: none;
  margin-left: 130px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.cal-event-endtime {
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 55px;
}

.cal-event-content-active {
  display: block;
}

.cal-event-title {
  cursor: pointer;
  font-weight: bold;
}

.cal-timeline {
  position: absolute;
  top: 110px;
  bottom: 65px;
  left: 290px;
  
  background-color: #fff;
  width: 1px;
}

@media screen and (max-width: 720px) {
  .cal-day {
    padding-top: 75px;
  }

  .cal-day--string {
    padding-bottom: 5px;
    background-color: #001932;
  }

  .cal-day--string span {
    display: block;
    text-align: center;
    font-size: 20px;
  }

  .cal-event {
    margin-left: 0;
  }

  .cal-event-date {
    position: absolute;
    top: 4px;
    left: -22px;
  }

  .cal-event-header {
    position: relative;
  }

  .cal-event-title {
    font-size: 14px;
    margin-left: 52px;
    line-height: 30px;
  }

  .cal-event-content {
    margin-left: 52px;
    margin-top: 15px;
  }

  .cal-event-indicator {
    width: 11px;
    height: 11px;
    top: 10px;
    left: 20px;
  }

  .cal-timeline {
    left: 70px;
  }
}
