#calendar {
  position: relative;
}

#calendar h1 a {
  font-size: 16px;
  margin-left: 15px;
}

.cal-day {
  position: relative;
}

.cal-day--string {
  position: absolute;
  top: 0;

  background-color: var(--primaryDarken45);
  color: var(--orange);
  padding-bottom: 5px;
  font-weight: 400;

  &::first-letter {
    text-transform: uppercase;
  }
}

.cal-section--preDays .cal-event-header {
  opacity: 0.5;
}

.cal-button--preDays {
  color: var(--white);
  background-color: var(--primaryDarken45);

  border: 1px solid var(--white);
  border-radius: 5px;

  cursor: pointer;
  font-size: 14px;
  position: relative;
  width: 100%;

  padding: 12px;

  &:hover {
    border-color: var(--orange);
    color: var(--orange);
  }

  &:focus {
    outline: none;
  }

  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.cal-event {
  margin-left: 160px;
  position: relative;
  display: block;
  color: var(--white);

  &:hover {
    color: var(--white);

    .cal-event-indicator {
      background-color: var(--orange);
    }
  }
}

.cal-event-date {
  width: 40px;
}

.cal-event-header {
  display: flex;
  cursor: pointer;
  color: var(--white);

  &:hover {
    color: var(--orange);
  }
}

.cal-event-indicator {
  position: absolute;
  top: 8px;
  left: 79px;
  background-color: var(--white);
  border-radius: 50%;

  width: 13px;
  height: 13px;
}

.cal-event-content {
  display: none;
  margin-left: 130px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.cal-event-endtime {
  font-size: 14px;
  text-decoration: underline;
  margin-bottom: 55px;
}

.cal-event-content-active {
  display: block;
}

.cal-event-title {
  cursor: pointer;
  font-weight: bold;
  margin-left: 90px;
}

.cal-timeline {
  position: absolute;
  top: 110px;
  bottom: 65px;
  left: 290px;

  background-color: var(--white);
  width: 1px;
}

@media screen and (max-width: 720px) {
  #calendar h1 a {
    font-size: 12px;
  }

  .cal-day {
    padding-top: 75px;
  }

  .cal-day--string {
    padding-bottom: 5px;
    background-color: var(--primaryDarken45);
  }

  .cal-day--string span {
    display: block;
    text-align: center;
    font-size: 20px;
  }

  .cal-event {
    margin-left: 0;
  }

  .cal-event-date {
    position: absolute;
    top: 4px;
    left: -22px;
  }

  .cal-event-header {
    position: relative;
  }

  .cal-event-title {
    font-size: 14px;
    margin-left: 52px;
    line-height: 30px;
  }

  .cal-event-content {
    margin-left: 52px;
    margin-top: 15px;
  }

  .cal-event-indicator {
    width: 11px;
    height: 11px;
    top: 10px;
    left: 20px;
  }

  .cal-timeline {
    left: 70px;
  }
}
