#calendar {
  position: relative;
}

#calendar h1 a {
  font-size: 16px;
  margin-left: 10px;
}

.cal-day {
  position: relative;
}

.cal-dayString {
  color: $orange;
  position: absolute;
  top: 0;
  padding-bottom: 5px;
  background-color: $dark-blue;
}

.preDaysSection-active .cal-event-header,
.preDaysSection-active .cal-dayString {
  opacity: .5;
}

.preDaysButton {
  color: #fff;
  padding: 12px;
  border: 1px solid #fff;
  background-color: $dark-blue;
  width: 100%;
  font-size: 14px;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    border-color: $orange;
    color: $orange;
  }
}

.cal-title {
  cursor: pointer;
  font-weight: bold;
}

.cal-event {
  margin-left: 160px;
  position: relative;
  display: block;
  color: #fff;

  &:hover {
    color: #fff;
    
    .cal-event-indicator {
      background-color: $orange;
    }
  }
}

.cal-event-header {
  display: flex;
}

.cal-event-dateString {
  width: 130px;
}

.cal-event-indicator {
  background-color: #fff;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 10px;
  left: 79px;
}

.cal-event-content {
  margin-left: 130px;
  word-wrap: break-word;
  display: none;
}

.cal-event-endtime {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 35px;
}

.cal-event-content-active {
  display: block;
}


.cal-timeline {
  position: absolute;
  top: 110px;
  bottom: 65px;
  left: 290px;
  background-color: #fff;
  width: 1px;
}

@media screen and (max-width: 720px) {
  .cal-day {
    padding-top: 75px;
  }
  
  .cal-dayString span {
    display: block;
    text-align: center;
    font-size: 20px;
  }

  .cal-event-dateString {
    position: absolute;
    top: 4px;
    left: -22px;
  }

  .cal-event-header {
    position: relative;
  }

  .cal-title {
    font-size: 14px;
    margin-left: 52px;
    line-height: 30px;
  }

  .cal-event-content {
    margin-left: 52px;
    margin-top: 15px;
  }

  .cal-dayString {
    padding-bottom: 5px;
    background-color: #001932;
  }

  .preDaysSection-active .cal-dayString {
    opacity: 1.0;
  }

  .cal-event-indicator {
    width: 11px;
    height: 11px;
    top: 10px;
    left: 20px;
  }

  .cal-event {
    margin-left: 0;
  }

  .cal-timeline {
    left: 70px;
  }
}
