#fadder {
  background-color: var(--white);
  color: var(--grayDarken60);

  transform: skew(0deg, -2deg);
  padding-top: 50px;
  padding-bottom: 50px;

  margin-bottom: 85px;

  .component {
    transform: skew(0deg, 2deg);
  }
}

.fadder-content {
  display: flex;
  justify-content: center;
}

.fadder-description {
  width: 70%;
}

.fadder-imageColumn {
  width: 30%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fadder-image {
  height: 70%;
  max-height: 250px;
  position: absolute;
}

@media screen and (max-width: 970px) {
  .fadder-imageColumn {
    width: 40%;
  }

  .fadder-description {
    width: 50%;
  }
}

@media screen and (max-width: 720px) {
  .fadder-imageColumn {
    display: none;
  }

  .fadder-description {
    width: 100%;
  }
}

.skipToWarning {
  color: var(--white);
  font-size: 14px;
  display: block;
  width: 200px;

  margin: 25px auto 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 1px solid var(--primaryDarken45);
  border-radius: 5px;

  text-align: center;
  font-weight: 400;
  background-color: var(--primary);

  &:hover {
    border-color: var(--orange);
    color: var(--orange);
  }
}
