#join {
  margin-top: 25px;
  margin-bottom: 25px;
}

.goToGuac {
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  margin: 10px;
  width: 200px;

  padding-top: 12px;
  padding-bottom: 12px;

  border: 1px solid var(--white);
  border-radius: 5px;

  text-align: center;

  &:hover {
    border-color: var(--orange);
    color: var(--orange);
  }
}
