#partners {
  background: var(--grayDarken60);
  text-align: center;
  padding-top: 65px;
  padding-bottom: 65px;
}

.partner {
  max-height: 80px;
  display: inline-block;

  margin-left: 25px;
  margin-right: 25px;
  margin-top: 35px;

  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

#generalPartners img {
  max-height: 120px;
}

/* Specific rules
------------------------------------------------------------------------------*/
#computas {
  max-height: 50px;
}

#deloitte {
  max-height: 100px;
  margin: 35px 25px 0px;
}

#wide_logo {
  max-height: 30px;
  margin-bottom: 5px;
}

@media screen and (max-width: 425px) {
  .partner {
    display: block;
    margin: 35px auto;
    max-height: 30px;
  }

  #goldPartners img {
    max-height: 40px;
  }
}
