#partners {
  background: #222;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 65px;


}

.partner {
  max-height: 40px;
  display: inline-block;
  
  margin-right: 55px;
  margin-top: 35px;

  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

/* Specific rules
------------------------------------------------------------------------------*/
#sopraSteria {
  display: block;
  margin: 0 auto;
}

#computas {
  max-height: 50px;
}

#bouvet {

}

#knowit {

}

@media screen and (max-width: 425px) {
  .partner {
    display: block;
    margin: 35px auto;
    max-height: 30px;
  }
}
