#slack-inputgroup {
  margin-top: 15px;
  margin-bottom: 15px;
}

#slack-email-label {
  font-weight: 600;
  display: block;
}

#slack-email-inputfield,
#slack-submit-button {
  border: none;
  font-size: 14px;

  padding-left: 15px;
  padding-right: 15px;

  vertical-align: middle;
}

#slack-email-inputfield {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  line-height: 32px;
  height: 32px;

  color: #333;
  background: #efefef;
  outline: none;
  width: 220px;
}

#slack-submit-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  line-height: 34px;
  height: 34px;

  color: #fff;
  cursor: pointer;
  background: darken($blue, 10%);
  margin-left: -1px;

  &:focus {
    outline: none;
  }

  &:hover {
    background: darken($blue, 5%);
  }

  &:active {
    background: $blue;
  }

  &:disabled {
    background: #ddd;
    cursor: not-allowed;
  }
}

#slack-error {
  color: #d60f07;
  font-weight: 500;
}

#slack-success {
  color: green;
  font-weight: 500;
}

@media screen and (max-width: 425px) {
  #slack-email-inputfield,
  #slack-submit-button {
    font-size: 12px;
  }

  #slack-email-inputfield {
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
