#warning {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mailToWarning {
  color: #fff;
  font-size: 14px;
  display: block;
  width: 200px;

  margin: 10px auto 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 1px solid #fff;
  border-radius: 5px;

  text-align: center;

  &:hover {
    border-color: $orange;
    color: $orange;
  }
}
