@import 'reset';
@import 'variables';
@import 'components/components';

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

body {
  font-size: 16px;
  font-family: HelveticaNeue-Thin, 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.625;
  
  background-color: $dark-blue;
  color: #fff;
}

h1 {
  font-size: 32px;
  font-family: HelveticaNeue-UltraLight, 'Source Sans Pro', sans-serif;
  margin-bottom: 10px;
  font-weight: 200;
}

a {
  color: #72afec;
  text-decoration: none;

  &:hover {
    color: #2f6397;
  }
}

p {
  margin-bottom: 15px;
}

#app {
}

.component {
  max-width: 960px;
  margin: 0 auto;
  padding: 45px 45px;
}

@media screen and (max-width: 376px) {
  h1 {
    font-size: 18px;
  }

  body {
    font-size: 14px;
  }
}


