@import 'reset';
@import 'variables';
@import 'components/components';

body {
  font-size: 16px;
  font-family: HelveticaNeue-Thin, sans-serif;
  line-height: 1.625;
  
  background-color: #001932;
  color: #fff;
}

h1 {
  font-size: 32px;
  font-family: HelveticaNeue-UltraLight, sans-serif;
  margin-bottom: 10px;
}

a {
  color: #72afec;
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

#app {
}

.component {
  max-width: 960px;
  margin: 0 auto;
  padding: 35px 25px;
}


